.sidebar {
    background-color: #F3F3F3;
}

.menuLinks {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.linkDefault {
    text-decoration: none;
    color: inherit;
    margin-bottom: 1px;
    padding: 12px 30px;
    display: block;
}

.linkDefault:hover {
    background-color: #2C6693;
}

.active {
    background-color: #2C6693;
    color: white;
}